/* App.css */

/* Reset */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  background-color: #000814;
}

.layout-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.left-column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Title styling */
.header {
  background-color: #000814; 
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.sort-area {
  flex: 1 1 auto;
  overflow: auto;
  background-color: #000814;
}
