/* General styles for the app */
.App {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Chat container specifics */
.MainContainer {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.ChatContainer {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

/* Buttons for choosing complexity level */
button {
  padding: 8px 16px;
  margin: 10px;
  font-size: 16px; /* Adjusted to a more reasonable font size */
  color: #ffffff;
  background-color: #4793AF; /* Uniform color, updated based on your latest code */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #0056b3;
}

/* Message list and input */
.MessageList {
  padding: 20px;
  height: 450px; /* Adjusted for better content display */
  overflow-y: auto;
}

.MessageInput {
  padding: 10px;
  border-top: 1px solid #ccc;
}

/* Typing indicator style */
.TypingIndicator {
  color: #888;
  font-style: italic;
}

/* Custom styles for incoming and outgoing messages */
.Message {
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  color: #333;
}

.Message[data-direction="incoming"] {
  background-color: #e0e0e0;
  align-self: flex-start;
}

.Message[data-direction="outgoing"] {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.assistant-buttons {
  margin-bottom: 10px;
  text-align: center;
}

.assistant-buttons p {
  margin: 0;
  font-weight: bold;
}

.label {
  color: white;
}
