
.array-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-end;
   width: 95vw;                   
   height: 550px;  
   background-color: #222831;
   margin-top: 10px;              
}

.button-bar {
   width: 100%;
   max-width: 800px;             
   height: 70px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 20px;   
   font-size: 35px;
   padding : 10px;

   
}
.button-bar button {
   width: 25%;
   height: 60px;
   background-color: #4793AF;

   border: none;
   cursor: pointer;
   transition: background 0.3s;
   font-size: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-bar button:hover {
   background: #FC6736;
}

.button-bar p{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.array-bar {
   width: 3%;                  
   background-color: #4793AF;
   margin: 0 2px;                
}

.component-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 75vh;
}
